:root {
  --titles-and-link: #053974;
  --linear-bg: -webkit-linear-gradient(left, #505e8d, #4298fa);
}

.loading {
    background-color: var(--linear-bg);
    height: 70vh;
}

.temporary-link {
    color: var(--titles-and-link);
}

.temporary-links-container, .user-tasks-container {
    margin-top: 5em;
    padding: 2rem 0;
}

.user-tasks-container h1, .user-tasks-container h2 {
    color: var(--titles-and-link);
}

.each-task li {
    list-style-type: none;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

