:root {
  --primary-color: #053974;
  --linear-bg: -webkit-linear-gradient(left, #505e8d, #4298fa);
}

.loading {
    background-color: var(--linear-bg);
    height: 70vh;
    margin-top: 3em;
}

.temporary-link {
    color: var(--primary-color);
}

.temporary-links-container, .user-tasks-container {
    margin-top: 5em;
    padding: 2rem 0;
}

.user-tasks h2, .user-tasks h3 {
    color: var(--primary-color);
}

.each-task li {
    list-style-type: none;
    line-height: 1.9rem;
    font-size: 1.1rem;
}

