:root {
  --titles-and-link: #053974;
}

a { 
    text-decoration: none;
}

.temporary-link {
    color: var(--titles-and-link);
}

.temporary-link:hover {
    font-size: 1.25rem;
}

.temporary-links-container {
    padding: 4rem 0 2rem 0;
}

.user-tasks-container h1, .user-tasks-container h2 {
    color: var(--titles-and-link);
}

.user-tasks-container h1 {
    padding: 4rem 0 1rem 0;
}

.each-task li {
    list-style-type: none;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

