
/* ------------ Variables -------------*/
:root {
	--main-bg-color: #fff;
	--login-card-bg-color: rgb(255, 255, 255);
	--header-bcg-color: #4B73B5;
	--linear-bg: -webkit-linear-gradient(left, #505e8d, #4298fa);
	--primary-color: #053974;
	--hover-primary-color: #fcfafa;
	--secondary-color: #650374;
	--login-btn-hover-color: #5d7ada;
	--header-bottom-border-color: #ccc;
	--linkedin-bg: #0a66c2;
	--twitter-bg: #00aced;
	--person-pic-padding: 10px;
	--person-pic-box-shadow-color: #2e556b;
	--question-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Box sizing rules */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	/* background: var(--linear-bg); */
}

/*------------ Default Styling ------------*/
/*------- a tag default styling ---------*/

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	text-decoration: underline;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	height: auto;
	display: block;
}

/*------- label, input and button default styling ---------*/
label {
	margin: 0;
	font-size: 18px;
	font-weight: 470;
}

input {
	padding: 1em;
	border-radius: 5px;
	border: solid 1.5px var(--primary-color);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* -------- default heading styling --------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/*--------- default p styling -------*/
p {
	line-height: 1.8em;
	font-size: 1em;
	text-align: justify;
}

/*---------- default ul, li styling ------*/
ul {
	list-style-type: none;
}

.text-center {
	text-align: center;
}

/*----------- Main App class ------------*/
.App {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 100px auto;
	font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
	background-color: var(--main-bg-color);
}

/*-------------- Header ---------------*/
.header.login-page {
	padding: 1.2em 1em;
	background-color: var(--header-bcg-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--header-bottom-border-color);
}

.header.login-page a {
	color: white;
}

.logo-ctn {
	margin: auto 0;
}

.logo,
.avatar {
	max-height: 50px;
	cursor: pointer;
}

.logout-btn {
	background-color: var(--header-bcg-color);
	color: white;
	border: var(--header-bcg-color);
}

.logout-btn svg {
	height: 40px;
	width: auto;
}

.logout-btn:hover {
	background-color: inherit;
}

/*----------------- Slack Login --------------*/
.home-ctn {
	margin: 0 auto;
	padding: 10px;
	max-width: 450px;
	min-width: 300px;
	background-color: var(--login-card-bg-color);
}

.home-ctn h1 {
	margin: 15px auto 15px;
	line-height: 1.2em;
	text-transform: capitalize;
}

.slack-connect {
	padding: 0.75em;
	border: solid 1px var(--primary-color);
	border-radius: 20px;
	margin: 0 auto;
	cursor: pointer;
	transition: background-color 0.2s;
}

.slack-connect a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
}

.slack-connect:hover {
	background-color: var(--hover-primary-color);
}

.slack-connect h4 {
	text-transform: uppercase;
	padding: 0.6em 0em;
	margin-bottom: 0;
}
.forgotpassword {
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.rememberme {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
#remember-user {
	display: flex;
	justify-self: center;
	align-self: center;
	width: 0.9em;
	height: 0.9em;
}
.Slack {
	width: 30px;
	height: 30px;
	margin: 0em 0.5em;
	justify-self: flex-start;
}

.or-ctn {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 0.8em 0 0.2em;
}

.or-ctn hr:first-child {
	width: 46%;
	height: 1.5px;
	margin-right: 1em;
}

.or-ctn hr:nth-of-type(2) {
	width: 46%;
	text-align: right;
	height: 1.5px;
	margin-right: 0;
	margin-left: 1em;
}

.or-ctn span {
	font-weight: 600;
}

/*------------ Form -------------*/

.form {
	margin-bottom: 1em;
}

.label-ctn {
	padding-bottom: 0.3em;
}

.form-field {
	margin-bottom: 10px;
}

.form-field input {
	border-radius: 4px;
	border: 1px solid var(--primary-color);
	cursor: text;
	font-size: 16px;
	line-height: 20px;
	height: 40px;
	padding: 6px 10px;
	width: 100%;
}

/*------------ Password prompt ----------*/
.password-ctn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.remember-me-ctn {
	display: flex;
}
.remember-me-ctn label {
	cursor: pointer;
}
.password-heading {
	text-align: left;
	padding-bottom: 20px;
}
.password-ctn input {
	cursor: pointer;
	margin-right: 0.25em;
}

.password-ctn input:checked {
	accent-color: var(--primary-color);
}

.password-ctn a {
	color: var(--secondary-color);
	font-weight: 600;
}

.login-btn {
	background: var(--linear-bg);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin: 0.9em 0;
	padding: 1em;
	width: 100%;
}

.login-btn:hover {
	background: #5d7ada;
}

.error-login {
	color: red;
	display: none;
}

.error-login.display {
	display: block;
}

/*--------- Create an account ----------*/
.create-ctn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.create-ctn > * {
	margin-top: 0.6em;
}

.create-ctn a {
	color: var(--secondary-color);
	font-weight: 600;
}

.create-ctn h4 {
	font-weight: 400;
}

/* ---------- About Page ---------*/
.about-ctn {
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto;
	padding: 0 10px;
}

.team-ctn {
	display: flex;
	flex-direction: column;
}

.about-ctn h2,
.about-ctn h3 {
	text-transform: capitalize;
	text-align: center;
	padding: 1em 0;
}

.team-title-ctn h2 {
	padding: 1.2em 0;
}

.team-pics-ctn {
	display: grid;
	column-gap: 3em;
	row-gap: 4em;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding-bottom: 2em;
	text-align: center;
}
.label-ctn {
	padding-top: 10px;
	margin: 0px;
}

.person-info-ctn h4 {
	margin: 0.5em;
}

.person-info-ctn p {
	margin-bottom: 1.3em;
	color: #707174;
}

.person-border-bottom {
	height: 5px;
	margin: 0em 2em 1em 2em;
	background-color: var(--person-pic-box-shadow-color);
}

.person-pic-ctn {
	margin-bottom: 2em;
}

.person-pic-ctn img {
	width: 100%;
	height: auto;
	object-fit: contain;
	border-radius: 40%;
	padding: var(--person-pic-padding);
	box-shadow: inset 0 0 0 var(--person-pic-padding)
		var(--person-pic-box-shadow-color);
}

.person-links-ctn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.person-links-ctn > * > a > svg {
	min-width: 20px;
	width: 1.5rem;
	height: 1.5rem;
	background: transparent;
	border-color: transparent;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	margin: 0 5px;
}

.linkedin-logo > a > svg {
	background-color: var(--linkedin-bg);
}

.twitter-logo > a > svg {
	min-width: 20px;
	width: 1.2em;
	height: 1.2em;
	color: var(--twitter-bg);
	background-color: white;
}

.github-logo > a > svg {
	min-width: 20px;
	width: 1.3em;
	height: 1.3em;
	background-color: white;
	color: black;
}

#video {
	margin-left: 3.5em;
}

/* Guide page*/
.guide-ctn .question header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.guide-ctn .question header h4 {
	font-size: 1.3em;
}

.guide-ctn .question {
	padding: 0.75rem 0.75rem 0.5rem 0.75rem;
	border: 2px solid #2e556b;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
	box-shadow: var(--question-box-shadow);
}

.question header button {
	background: transparent;
	border-color: transparent;
	width: 2.2rem;
	height: 2.2rem;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #2e556b;
	cursor: pointer;
	margin-left: 0.6rem;
	align-self: center;
	min-width: 2rem;
}

.question header button svg {
	min-width: 20px;
	height: auto;
}

.guide-link-ctn {
	font-size: 2em;
}
.faq-img {
	width: 100%;
	align-self: center;
}

.image-ctn {
	display: flex;
	justify-content: center;
	align-self: center;
}

.image-btn {
	display: flex;
	justify-content: start;
	align-self: center;
}

/*---------- footer in about page ----------*/
.about-ctn footer a {
	padding: 1.5em 0 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about-ctn footer a svg {
	margin-right: 3px;
}

@media only screen and (min-width: 350px) {
	.slack-connect h4 {
		letter-spacing: 0.5px;
	}
}

@media only screen and (min-width: 800px) {
	.logo,
	.avatar {
		max-height: 60px;
	}
}

input[type="checkbox"] {
	padding: 0;
	-ms-transform: scale(1.1); /* IE */
	-moz-transform: scale(1.1); /* FF */
	-webkit-transform: scale(1.1); /* Safari and Chrome */
	-o-transform: scale(1.1); /* Opera */
}
