@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300&display=swap");

/* Main form container style */
form * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.formContainer {
	/* border: 1px solid #ff1cff; */
	margin: 0 auto;
	position: relative;
	width: 95%;
}

.tasksForm {
	font-family: "Montserrat", sans-serif;
	display: grid;
}

/* form.tasksForm li, */
form.tasksForm label {
	list-style-type: none;
	font-weight: 300;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
}
form.tasksForm label {
	cursor: pointer;
}

form.tasksForm .completed-h4,
form.tasksForm .uncompleted-h4 {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 500;
}
form.tasksForm h3,
form.tasksForm .completed-h4,
form.tasksForm .uncompleted-h4 {
	margin: 0.5rem 0;
	text-align: center;
}
form.tasksForm label input {
	visibility: hidden; /* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	/* display: none; */
	overflow: hidden;
}
form.tasksForm label span {
	border: 1px solid var(--header-bcg-color);
	border-radius: 50%;
	margin-right: 10px !important;
	display: inline-block;
	height: 10px;
	width: 10px;
}
[type="checkbox"]:checked + span {
	background: var(--header-bcg-color);
	border: none;
}

.yesterdayCompletedContainer {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	min-height: 200px;
	max-height: 750px;
	opacity: 0.8;
	overflow: scroll;
	padding: 48px 16px;
}
.task-date {
	color: var(--primary-color);
}
.form-icon {
	cursor: pointer;
	padding: 0.75rem;
}
.form-icon.icon-done {
	background-color: white;
	border: none;
	color: var(--header-bcg-color);
}
.form-icon.icon-delete {
	background-color: white;
	border: none;
	color: tomato;
}
.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.incompleted-checkbox {
	color: #1c8b00;
}
.completed-checkbox {
	color: #1c8b00;
}
.yesterdayCompletedContainer li {
	/* opacity: 0.5; */
	color: var(--header-bcg-color);
}
.yesterdayCompletedContainer label {
	font-weight: 300;
	text-align: justify;
	text-decoration: line-through;
}
.yesterdayUncompletedContainer {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	min-height: 200px;
	max-height: 750px;
	overflow: scroll;
	padding: 48px 16px;
}
.yesterdayUncompletedContainer li {
	color: var(--primary-color);
	text-align: justify;
}

/* Todays section style */
.today-todos-container ul {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	min-height: 200px;
}
.new-task-input,
.today-task-show,
.past-task-show {
	background-color: #fff;
	border: none;
	padding: 0.75rem 0.5rem;
	transition: all 0.5s ease;
	width: 100%;
	/* margin-bottom: 1rem; */
}
.past-task-show:focus {
	outline: none;
	border-bottom: 1px solid #eee;
}
.new-task-input-container {
	display: flex;
	align-items: center;
}
.new-task-input {
	border: 1px solid #ddd;
}
.today-task-show:hover {
	background-color: #eee;
}
.today-task-show-btn-container {
	display: flex;
	margin: 10px 0;
}
.today-todos-container li {
	border-bottom: 1px solid #ccc;
	display: flex;
	margin: 1rem 0;
}

.past-task-li-container {
	align-items: center;
	display: grid;
	gap: 10px;
	grid-template-columns: 0.5fr 10fr 1fr 1fr;
}
.today-todos-container li button,
.new-task-input-btn {
	border: none;
	background: none;
	padding: 0.5rem;
}

button.new-task-input-btn {
	border: none;
	color: #bbb;
	position: absolute;
	padding: 1rem;
	right: 0;
}
button.new-task-input-btn.active {
	color: var(--header-bcg-color);
	display: block;
}

.todo-submit-btn {
	max-width: 300px;
	margin: 1rem auto;
}

@media only screen and (min-width: 600px) {
	.task-filter-icon {
		display: none;
	}
	.filter-btn-container {
		position: initial;
		display: flex;
	}
}
@media only screen and (min-width: 1024px) {
	.tasksForm {
		grid-gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"uncompleted-h4 completed-h4"
			"yesterdayUncompletedContainer yesterdayCompletedContainer"
			"current-h3 current-h3"
			"today-todos-container today-todos-container"
			"todo-submit-btn todo-submit-btn";
	}
	.completed-h4 {
		grid-area: completed-h4;
	}
	.uncompleted-h4 {
		grid-area: uncompleted-h4;
	}
	.yesterdayCompletedContainer {
		grid-area: yesterdayCompletedContainer;
	}
	.yesterdayUncompletedContainer {
		grid-area: yesterdayUncompletedContainer;
	}
	.current-h3 {
		grid-area: current-h3;
	}
	.today-todos-container {
		grid-area: today-todos-container;
	}
	.todo-submit-btn {
		grid-area: todo-submit-btn;
	}
}
